<button onclick="history.back()">Back</button>
<h1>Name: {{name}}</h1>
<table>
  <tr>
    <th>ID</th>
    <td>:</td>
    <td>{{id}}</td>
  </tr>
  <tr>
    <th>Company</th>
    <td>:</td>
    <td>{{company}}</td>
  </tr>
</table>